@use '../foundation/functions' as f;
@use '../foundation/mixin' as m;
@use '../foundation/variables' as v;

/* ヘッダー */

.l-header {
  width: 100%;
  max-width: 1400px;
  height: clamp(3.75rem, 3.267rem + 1.98vw, 5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999;
  background-color: v.$white;
  transform: translateX(-50%);
  padding-right: f.rem(20);
  padding-left: f.rem(20);
  @include m.media(m) {
    position: static;
    left: auto;
    transform: none;
    margin-inline: auto;
  }
}