@use '../foundation/functions' as f;

/* ヘッダー */

.l-header {
  width: 100%;
  max-width: 1400px;
  height: f.rem(60);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: f.rem(20);
  padding-left: f.rem(20);
}