@use '../foundation/variables' as v;
@use '../foundation/functions' as f;
@use '../foundation/mixin' as m;

/* ページヘッド */
.l-page-head {
  padding-top: f.clamp-rem(390, 50, 1400, 53);
  padding-bottom: f.rem(47);
  @include m.media(m) {
    margin-top: 0;
  }
}