@use '../../../foundation/functions' as f;
@use '../../../foundation/variables' as v;
@use '../../../foundation/mixin' as m;

/* テーブル */
.p-plan-table {
  overflow-x: auto;
  margin-bottom: f.clamp-rem(390, 35, 1400, 80);
  padding-left: f.rem(20);
  padding-right: f.rem(20);
  &__body {
    width: f.rem(600);
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    @include m.media(m) {
      width: f.rem(900);
    }
    & th,
    & td {
      border: 1px solid v.$line;
      font-size: v.$fz-s;
      padding: f.rem(9.87);
      @include m.media(m) {
        padding: f.rem(20);
        font-size: v.$fz-m;
      }
    }
  }
  &__head th {
    background-color: v.$background;
    font-weight: 500;
    &:first-child {
      width: f.rem(150);
      background-color: v.$white;
      border-top: none;
      border-left: none;
      @include m.media(m) {
        width: f.rem(300);
      }
    }
    &:nth-child(n+2) {
      width: f.rem(150);
      @include m.media(m) {
        width: f.rem(200);
      }
    }
  }
  &__feature {
    background-color: v.$background;
    font-weight: 500;
    text-align-last: left;
  }
  &__data {
    font-size: v.$fz-s;
    text-align: center;
    @include m.media(m) {
      font-size: v.$fz-ml;
    }
  }
  &__title {
    display: block;
    font-size: v.$fz-s;
  }
  &__price {
    font-size: v.$fz-ml;
    font-weight: 500;
    @include m.media(m) {
      font-size: v.$fz-xxl;
    }
  }
  &__tax {
    font-size: v.$fz-xs;
  }
  &__note {
    font-size: v.$fz-xs;
  }
}