@use '../../../foundation/variables' as v;
@use '../../../foundation/mixin' as m;

/* ヒーロー */
.p-hero {
  background-color: v.$keyColor;
  margin-top: clamp(3.75rem, 3.267rem + 1.98vw, 5rem);
  padding: 0 clamp(1.25rem, -2.129rem + 13.861vw, 10rem);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  &__body {
    padding-top: 50px;//clamp
    padding-bottom: 90px;//clamp
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.media(m) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__text {
    margin-bottom: 33px;//clamp
  }
  &__title {
    font-size: 32px;//clamp
    font-weight: bold;
    margin-bottom: 10px;//clamp
  }
  &__line {
    background-color: v.$white;
    display: inline-block;
    margin-bottom: 10px;//clamp
  }
  &__description {
    font-size: 14px;//clamp
  }
  &__img {
    max-width: 500px;
  }
}
/* 
13日
とりあえずl-wrapperを使って書いていってる
背景白の文字までは書いたので、この後はそれの幅とか位置とか

clamp使ってるところでも複数個所に共通する数字ならばvariablesを使う


*/