@use '../../../foundation/variables' as v;

/* ヒーロー */
.p-hero {
  margin-top: clamp(3.75rem, 3.267rem + 1.98vw, 5rem);
  background-color: v.$keyColor;
  &__body {
    padding-top: 50px;//clamp
    padding-bottom: 90px;//clamp
  }
  &__title {
    font-size: 32px;//clamp
  }
  &__line {
    background-color: v.$white;
  }
}