@use '../../../foundation/variables' as v;
@use '../../../foundation/mixin' as m;
@use '../../../foundation/functions' as f;

/* プライス */
.p-price {
  background-color: v.$keyColor;
  padding-top: f.clamp-rem(300, -77, 1400, 119);
  padding-bottom: f.clamp-rem(300, 77, 1400, 120);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  @include m.media(m) {
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  }
}