@use '../../foundation/variables' as v;
@use '../../foundation/functions' as f;

/* ナビゲーション */

.c-nav {
  width: 80%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;//後ほど-80%にする
  z-index: 20;
  font-size: v.$navfont;
  background-color: blanchedalmond;//この色は後で白に変更
  padding-top: f.rem(70);
  &.active {
    right: 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: f.rem(20);
  }
  
}