@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as v;

/* ユーティリティ */
.u-sp-none {
  display: none;
  @include m.media(m) {
    display: block;
  }
}
.u-uppercase {
  text-transform: uppercase;
}
.u-hightlight {
  font-size: v.$fz-s;
  font-weight: bold;
  background: linear-gradient(transparent 50%, v.$highlight 50%);
  @include m.media(m) {
    font-size: v.$fz-m;
  }
}